* {
	font-family: sans-serif;
}

.todo-list {
	list-style: none;
	padding: 0;
}

.todo-input {
	width: 60%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 10px 10px 0;
}

.add-todo {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	color: #000;
	cursor: pointer;
}

.todo-list li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.todo-list input[type="checkbox"] {
	margin-right: 10px;
}

.todo-list span.completed {
	text-decoration: line-through;
}
.container {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.completed {
	text-decoration: line-through;
	color: lightgray;
}

.delete {
	cursor: pointer;
	margin-left: 3rem;
	padding: 8px 15px;
	border-radius: 5px;
	background: transparent;
	border-width: 1px;
	border-color: #f72314;
	border-style: solid;
	color: #f72314;
}

.delete:hover {
	border-radius: 5px;
	background: #fddddb;
}
